<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }} - Lichen's Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main class="container">
        <article>
            <h1>{{ post.title }}</h1>
            <time class="postDate">{{ post.date }}</time>
            {{ post.content|safe }}
        </article>
        <a href="{{ url_for('index') }}">← Back to posts</a>
    </main>
</body>
</html>